<!DOCTYPE html>
<html>
<body>
<h2>Openai image generator</h2>
<h5>Created by Arka</h5>
    <form action="/" method = "post">
        <label for = "text">Enter some text:</label>
        <input type = "text" name="text" id="text"><br><br>
        <label for = "size">Enter size:</label>
        <input type = "text" name = "size" id="size"><br><br>
        <input type = "submit" value="Generate Image" onclick="func()">
    </form>
    <script>
        function func(){
            alert("This takes few moments please be patient");
        }
    </script>
</body>
</html>